<div>
  <h4>
    Calendar of events, contains various events created by users.
    The event can be repeated every day, every week, every month, every year.
    Want to try? Register
    <%= link_to "here", new_user_registration_path %>.
  </h2>
</div>
