<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <div class="copy-write text-center">
        <%= "Eduard Ryazapov #{Time.zone.today.year}" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <%= link_to "home", root_path %>
    </div>
  </div>
</footer>
