<%= render 'events/shared/form', event: event, url: event_path, action: "Edit" %>

<div class="row">
  <div class="large-8 large-centered medium-10 medium-centered small-12 columns">
    <div class="text-right">
      <%= link_to 'Delete Event', event_path, class: 'button alert', method: :delete %>
    </div>
  </div>
</div>
