<div class="title-bar" data-hide-for="medium" data-responsive-toggle="navigation_menu">
  <button class="menu-icon" data-toggle="" type="button">
  </button>
  <div class="title-bar-title">
    Calendar
  </div>
</div>

<nav class="top-bar" id="navigation_menu">
  <%= render "shared/navigation/navigation_main" %>
  <%= render "shared/navigation/navigation_user" %>
</nav>
